*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
    color: white;
}

body{
    font-family: calibri;
}

h2{
    font-size: 4rem;
    font-weight: bold;
    padding: 2rem;
}

.coming-soon{
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.countdown{
    display: flex;
    justify-content: space-around;
}

.day, .hour, .minute, .second{
    font-size: 3rem;
}

.pic{
    height: 50vh;
    padding: 30px;
}